<p class="home-module" style="padding-top:5px; padding-left: 10px; padding-bottom:5px"><b>Portfolio last updated:</b> <%= @pi_period.strftime("%m/%d/%Y") %> -- <b>Screen last updated:</b> <%= @si_period.strftime("%m/%d/%Y") %> -- <b>Display last updated:</b> <span style="<%= if @pi_period > @di_period || @si_period > @di_period then 'color:red' end %>"><%= @di_period.strftime("%m/%d/%Y") %></span></p>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 home-module" id="workers-module">
		<%= render 'pages/workers' %>
	</div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 home-module">
		<%= form_tag import_pi_path, multipart: true do %>
		  <div>
		    <h2>Import Data</h2>
		    <p>Select file "ETrade Equities [date]"</p>
		    <div class='input-field'>
		      <div class="file-field input-field">
		        <div>
		          <span><b><i>Portfolio File</i></b>
		          	<%= file_field_tag :file %>
		          </span>
		        </div>
		      </div>
		    </div>
		  </div>
		  <div style="padding-top:10px">
		    <button type="submit" name="commit" value="Import" id='pi-submit-page' class='submit-btn'>
		      Import
		    </button>
		  </div>
		<% end %>
	</div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 home-module">
		<%= form_tag auto_import_ed_path do %>
		  <div>
		    <h2>Import Earnings Dates (2 wks)</h2>
		  </div>
		  <div style="padding-top:10px">
		    <button type="submit" name="commit" value="Import" id='ed-submit-page' class='submit-btn'>
		      Import
		    </button>
		  </div>
		<% end %>
	</div>
	<div class="col-md-3"></div>
</div>


<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 home-module">
		<%= form_tag export_to_excel_path do %>
		  <div>
		    <h2>Export Data to Excel</h2>
		  </div>
		  <div style="padding-top:10px">
		    <button type="submit" name="commit" value="Update" id='update-analysis-page' class='submit-btn'>
		      Export
		    </button>
		  </div>
		<% end %>
	</div>
	<div class="col-md-3"></div>
</div>
	
	<!--The section below is unneeded since there is a fully automated version-->
	<!--<div class="col-md-6">-->
	<!--	<%= form_tag import_si_path, multipart: true do %>-->
	<!--	  <div>-->
	<!--	    <h2>Import Screen Data</h2>-->
	<!--	    <p>Select file "Stock Consolidator.xlsx"</p>-->
	<!--	    <div class='input-field'>-->
	<!--	      <div class="file-field input-field">-->
	<!--	        <div>-->
	<!--	          <span><b><i>Screen Data File</i></b></span>-->
	<!--	          <%= file_field_tag :file %>-->
	<!--	        </div>-->
	<!--	      </div>-->
	<!--	    </div>-->
	<!--	  </div>-->
	<!--	  <div style="padding-top:10px">-->
	<!--	    <button type="submit" name="commit" value="Import" id='home-submit-page'>-->
	<!--	      Import-->
	<!--	    </button>-->
	<!--	  </div>-->
	<!--	<% end %>-->
	<!--</div>-->
<!--Sections below are unneeded because they are included in the portfolio pull-->
<!--<div class="row">	-->
<!--	<div class="col-md-3"></div>-->
<!--	<div class="col-md-6 home-module">-->
<!--		<%= form_tag auto_import_si_path do %>-->
<!--		  <div>-->
<!--		    <h2>Automatically Import Screen Data</h2>-->
<!--		  </div>-->
<!--		  <div style="padding-top:10px">-->
<!--		    <button type="submit" name="commit" value="Import" id='si-submit-page' class='submit-btn'>-->
<!--		      Import-->
<!--		    </button>-->
<!--		  </div>-->
<!--		<% end %>-->
<!--	</div>-->
<!--	<div class="col-md-3"></div>-->
<!--</div>-->
<!--<div class="row">-->
<!--	<div class="col-md-3"></div>-->
<!--	<div class="col-md-6 home-module">-->
<!--		<%= form_tag update_display_path do %>-->
<!--		  <div>-->
<!--		    <h2>Update Analysis Data</h2>-->
<!--		  </div>-->
<!--		  <div style="padding-top:10px">-->
<!--		    <button type="submit" name="commit" value="Update" id='update-analysis-page' class='submit-btn'>-->
<!--		      Update-->
<!--		    </button>-->
<!--		  </div>-->
<!--		<% end %>-->
<!--	</div>-->
<!--	<div class="col-md-3"></div>-->
<!--</div>-->