<p class="home-module" style="padding-top:5px; padding-left: 10px; padding-bottom:5px"><b>Last update:</b> <%= @pi_period.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y") %></p>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 home-module" style="padding-bottom:10px !important">
		<div id="workers-module">
			<%= render 'pages/workers' %>
		</div>
		<div>
		  <span style="visibility:hidden" id="polling-alert">(Polling every second)</span>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 home-module">
		<%= form_tag import_pi_path, multipart: true do %>
		  <div>
		    <h2>Import Data</h2>
		    <p>Select file "ETrade Equities [date]"</p>
		    <div class='input-field'>
		      <div class="file-field input-field">
		        <div>
		          <span><b><i>Portfolio File</i></b>
		          	<%= file_field_tag :file %>
		          </span>
		        </div>
		      </div>
		    </div>
		  </div>
		  <div style="padding-top:10px">
		    <button type="submit" name="commit" value="Import" id='pi-submit-page' class='submit-btn'>
		      Import
		    </button>
		  </div>
		<% end %>
	</div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 home-module">
		<%= form_tag auto_import_ed_path do %>
		  <div>
		    <h2>Import Earnings Dates (2 wks)</h2>
		  </div>
		  <div style="padding-top:10px">
		    <button type="submit" name="commit" value="Import" id='ed-submit-page' class='submit-btn'>
		      Import
		    </button>
		  </div>
		<% end %>
	</div>
	<div class="col-md-3"></div>
</div>


<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 home-module">
		<%= form_tag export_to_excel_path do %>
		  <div>
		    <h2>Export Data to Excel</h2>
		  </div>
		  <div style="padding-top:10px">
		    <button type="submit" name="commit" value="Update" id='export-screen' class='submit-btn'>
		      Export
		    </button>
		  </div>
		<% end %>
	</div>
	<div class="col-md-3"></div>
</div>
	
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 home-module">
		<%= form_tag export_transactions_to_excel_path do %>
		  <div>
		    <h2>Export Transaction Data to Excel</h2>
		  </div>
		  <div style="padding-top:10px">
		    <button type="submit" name="commit" value="Update" id='export-transactions' class='submit-btn'>
		      Export
		    </button>
		  </div>
		<% end %>
	</div>
	<div class="col-md-3"></div>
</div>