<div>
	<h2>Background Processes Currently Running</h2>
	<ul style="list-style:none">
		<li><b>Screen Import: </b><%= @worker_hash['ImportScreenWorker'] + @worker_hash['GetScreenMechanizeWorker'] %></li>
		<li><b>Portfolio Import: </b><%= @worker_hash['ImportPortfolioWorker'] %></li>
		<li><b>Earnings Dates Import: </b><%= @worker_hash['UpdateEarningsDatesWorker'] %></li>
		<li><b>Display Import: </b><%= @worker_hash['SetDisplayItemsWorker'] %></li>
	</ul>
	<%= form_tag update_workers_path, method: :post, :remote => true do %>
		<%= submit_tag 'Update Workers', class: 'update-btn' %>
	<% end %>
</div>