<p><b>Portfolio last updated:</b> <%= @pi_period.strftime("%m/%d/%Y") %> -- <b>Screen last updated:</b> <%= @si_period.strftime("%m/%d/%Y") %> -- <b>Display last updated:</b> <span style="<%= if @pi_period > @di_period || @si_period > @di_period then 'color:red' end %>"><%= @di_period.strftime("%m/%d/%Y") %></span></p>

<div class="wrapper" style="text-align:center">
	<!--Search Text (incl. space): <input type="text" id="search-text" style="border-radius:5px">-->
	<!--<br>-->
	Search Text (separate keywords/phrases with || ): <input type="text" id="search-text-2" style="border-radius:5px">
	<br>
	<br>
	
	<ul class="nav nav-pills">
	  <li id="small-cap-btn" role="presentation" class="active"><a href="#small-cap" aria-controls="small-cap" data-toggle="tab">Small Cap</a></li>
	  <li id="large-cap-btn" role="presentation"><a href="#large-cap" aria-controls="large-cap" data-toggle="tab">Large Cap</a></li>
	</ul>
	<br>
</div>

<!-- Tab panes -->
<div class="tab-content">
  
  <!-- Small cap tab -->
  <div role="tabpanel" class="tab-pane active" id="small-cap">
  	<table class="table-striped sortable analysis-table">
			<thead>
				<tr>
					<th class="analysis-header" style='width:65px; padding-left:10px'>Sym</th>
					<th class="analysis-header" style="text-align:center; width:75px">Exchange</th>
					<th class="analysis-header" style="text-align:center">Company Name</th>
					<th class="analysis-header" style="text-align:center">Days from <br>Prev Earn</th>
					<th class="analysis-header" style="text-align:center">Days to <br>Next Earn</th>
					<th class="analysis-header" style="text-align:center">Current<br>Portfolio</th>
					<th class="analysis-header" style="width:150px; text-align:center">Recommended<br>Action</th>
					<th class="analysis-header hidden">Action</th>
					<th class="analysis-header hidden">Totals</th>
					<th class="analysis-header" style="width:90px; text-align:center">Total<br>Score<br>Percentile</th>
					<th class="analysis-header" style="text-align:center">Dist > 7<br>or > 8</th>
					<th class="analysis-header" style="text-align:center; width:110px">Market Cap (in M)</th>
					<th class="analysis-header hidden">Net Stock Issues Score</th>
					<th class="analysis-header hidden">RelAccruals Score</th>
					<th class="analysis-header hidden">NetOpAssetsScaled Score</th>
					<th class="analysis-header hidden">Assets Growth Score</th>
					<th class="analysis-header hidden">InvestToAssets Score</th>
					<th class="analysis-header hidden">52 Week Price Score</th>
					<th class="analysis-header hidden">Profit Premium Score</th>
					<th class="analysis-header hidden">ROA Quarterly Score</th>
					<th class="analysis-header hidden">DistTotal2 Score</th>
				</tr>
			</thead>
			<tbody>
		    <!--# 0. symbol, 1. exchange, 2. company, 3. in pf, 4. rec action, 5. action, 6. total score, 7. total score pct, 8. Dist >7/8, 9. Mkt Cap, 10. NSI, 11. RA, 12. NOAS, 13. AG, 14. AITA, 15. L52WP, 16. PP, 17. RQ, 18. DT2, 19. Prev Earn, 20. Next Earn-->
		
				<% @si_sm.each do |si| %>
					<tr>
						<td style="padding-left:10px"><%= si[0] %></td> <!-- Symbol -->
						<td><%= si[1] %></td> <!-- Exchange -->
						<td><%= si[2] %></td> <!-- Company Name -->
						<td><%= si[19] != "N/A" ? si[19].to_i + (Date.today - @di_period.to_date).to_i : "N/A" %></td> <!-- Prev Earn -->
						<td><%= si[20] != "N/A" ? si[20].to_i - (Date.today - @di_period.to_date).to_i : "N/A" %></td> <!-- Next Earn -->
						<td style="text-align:center"><%= si[3] %></td>	<!-- In Portfolio -->
						<td style="padding-left:10px"><%= si[4] %></td> <!-- Rec Action -->
						<td class="hidden"><%= si[5] %></td> <!-- Action -->
						<td class="hidden"><%= si[6] %></td> <!-- Totals -->
						<td style="text-align:center"><%= number_to_percentage(si[7]*100) %></td> <!-- Total Score Percentile -->
						<td style='text-align:center'><%= si[8] %></td> <!-- Dist > 7 or > 8 -->
						<td style="text-align:right; padding-right:2px"><%= number_with_precision(si[9]/1000000, :precision => 3, :delimiter => ',' ) %></td> <!-- Market Cap -->
						<td class="hidden"><%= si[10] %></td> <!-- Net Stock Issues Score -->
						<td class="hidden"><%= si[11] %></td> <!-- RelAccruals Score -->
						<td class="hidden"><%= si[12] %></td> <!-- NetOpAssetsScaled Score -->
						<td class="hidden"><%= si[13] %></td> <!-- Assets Growth Score -->
						<td class="hidden"><%= si[14] %></td> <!-- InvestToAssets Score -->
						<td class="hidden"><%= si[15] %></td> <!-- 52 Week Price Score -->
						<td class="hidden"><%= si[16] %></td> <!-- Profit Premium Score -->
						<td class="hidden"><%= si[17] %></td> <!-- ROA Quarterly Score -->
						<td class="hidden"><%= si[18] %></td> <!-- DistTotal2 Score -->
					</tr>
				<% end %>
			</tbody>
		</table>
  </div>
  
  <!-- Large cap tab -->
  <div role="tabpanel" class="tab-pane" id="large-cap">
  	<table class="table-striped sortable analysis-table">
			<thead>
				<tr>
					<th class="analysis-header" style='width:65px; padding-left: 10px'>Sym</th>
					<th class="analysis-header" style="text-align:center; width:75px">Exchange</th>
					<th class="analysis-header" style="text-align:center">Company Name</th>
					<th class="analysis-header" style="text-align:center">Days from <br>Prev Earn</th>
					<th class="analysis-header" style="text-align:center">Days to <br>Next Earn</th>
					<th class="analysis-header" style="text-align:center">Current<br>Portfolio</th>
					<th class="analysis-header" style="width:150px; text-align:center">Recommended<br>Action</th>
					<th class="analysis-header hidden">Action</th>
					<th class="analysis-header hidden">Totals</th>
					<th class="analysis-header" style="width:90px; text-align:center">Total<br>Score<br>Percentile</th>
					<th class="analysis-header" style="text-align:center">Dist > 7<br>or > 8</th>
					<th class="analysis-header" style="text-align:center; width:110px">Market Cap (in M)</th>
					<th class="analysis-header hidden">Net Stock Issues Score</th>
					<th class="analysis-header hidden">RelAccruals Score</th>
					<th class="analysis-header hidden">NetOpAssetsScaled Score</th>
					<th class="analysis-header hidden">Assets Growth Score</th>
					<th class="analysis-header hidden">InvestToAssets Score</th>
					<th class="analysis-header hidden">52 Week Price Score</th>
					<th class="analysis-header hidden">Profit Premium Score</th>
					<th class="analysis-header hidden">ROA Quarterly Score</th>
					<th class="analysis-header hidden">DistTotal2 Score</th>
				</tr>
			</thead>
			<tbody>
		    <!--# 0. symbol, 1. exchange, 2. company, 3. in pf, 4. rec action, 5. action, 6. total score, 7. total score pct, 8. Dist >7/8, 9. Mkt Cap, 10. NSI, 11. RA, 12. NOAS, 13. AG, 14. AITA, 15. L52WP, 16. PP, 17. RQ, 18. DT2, 19. Prev Earn, 20. Next Earn-->
		
				<% @si_lg.each do |si| %>
					<tr>
						<td style="padding-left:10px"><%= si[0] %></td> <!-- Symbol -->
						<td><%= si[1] %></td> <!-- Exchange -->
						<td><%= si[2] %></td> <!-- Company Name -->
						<td><%= si[19] != "N/A" ? si[19].to_i + (Date.today - @di_period.to_date).to_i : "N/A" %></td> <!-- Prev Earn -->
						<td><%= si[20] != "N/A" ? si[20].to_i - (Date.today - @di_period.to_date).to_i : "N/A" %></td> <!-- Next Earn -->
						<td style="text-align:center"><%= si[3] %></td>	<!-- In Portfolio -->
						<td style="padding-left:10px"><%= si[4] %></td> <!-- Rec Action -->
						<td class="hidden"><%= si[5] %></td> <!-- Action -->
						<td class="hidden"><%= si[6] %></td> <!-- Totals -->
						<td style="text-align:center"><%= number_to_percentage(si[7]*100) %></td> <!-- Total Score Percentile -->
						<td style='text-align:center'><%= si[8] %></td> <!-- Dist > 7 or > 8 -->
						<td style="text-align:right; padding-right:2px"><%= number_with_precision(si[9]/1000000, :precision => 3, :delimiter => ',') %></td> <!-- Market Cap -->
						<td class="hidden"><%= si[10] %></td> <!-- Net Stock Issues Score -->
						<td class="hidden"><%= si[11] %></td> <!-- RelAccruals Score -->
						<td class="hidden"><%= si[12] %></td> <!-- NetOpAssetsScaled Score -->
						<td class="hidden"><%= si[13] %></td> <!-- Assets Growth Score -->
						<td class="hidden"><%= si[14] %></td> <!-- InvestToAssets Score -->
						<td class="hidden"><%= si[15] %></td> <!-- 52 Week Price Score -->
						<td class="hidden"><%= si[16] %></td> <!-- Profit Premium Score -->
						<td class="hidden"><%= si[17] %></td> <!-- ROA Quarterly Score -->
						<td class="hidden"><%= si[18] %></td> <!-- DistTotal2 Score -->
					</tr>
				<% end %>
			</tbody>
		</table>
    
  </div>
</div>