<p><b>Last update:</b> <%= @pi_period.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y") %></p>


<div class="wrapper" style="text-align:center">
	Search Text (separate keywords/phrases with || ): <input type="text" id="search-text-2" style="border-radius:5px">
	<br>
	Filter N/As <input type="checkbox" id="hide-na" />
	<br>
	Filter Holds <input type="checkbox" id="hide-holds" />
	<br>
	<br>
	
	<div id="tabs">
		<ul class="nav nav-pills">
		  <li id="small-cap-btn" role="presentation" class="active"><a href="#small-cap" aria-controls="small-cap" data-toggle="tab">Small Cap</a></li>
		  <li id="large-cap-btn" role="presentation"><a href="#large-cap" aria-controls="large-cap" data-toggle="tab">Large Cap</a></li>
		  <li id="non-screen-btn" role="presentation"><a href="#non-screen" aria-controls="non-screen" data-toggle="tab">Non-Screen</a></li>
		  <li id="summary-btn" role="presentation"><a href="#summary" aria-controls="summary" data-toggle="tab">Summary</a></li>
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
		  
		  <!-- Small cap tab -->
		  <div role="tabpanel" class="tab-pane active" id="small-cap">
		  	<table class="tablesorter analysis-table" id="small-cap-table">
					<thead>
						<tr>
							<th class="analysis-header" style='width:65px; padding-left:10px'>Sym</th>
							<th class="analysis-header" style="text-align:center; width:75px">Exchange</th>
							<th class="analysis-header" style="text-align:center">Company Name</th>
							<th class="analysis-header" style="text-align:center">% Gain</th>
							<th class="analysis-header" style="text-align:center">$ Gain</th>
							<th class="analysis-header" style="text-align:center">Term</th>
							<th class="analysis-header" style="text-align:center">Earnings</th>
							<th class="analysis-header" style="text-align:center">Current<br>Portfolio</th>
							<th class="analysis-header" style="width:150px; text-align:center">Recommended<br>Action</th>
							<th class="analysis-header" style="text-align:center">Action</th>
							<th class="analysis-header" style="text-align:center">Target Value</th>
							<th class="analysis-header" style="text-align:center">Current Value</th>
							<th class="analysis-header" style="text-align:center">Adjustment</th>
							<th class="analysis-header hidden">Totals</th>
							<th class="analysis-header" style="width:90px; text-align:center">Total<br>Score<br>Percentile</th>
							<th class="analysis-header" style="text-align:center">Dist > 7<br>or > 8</th>
							<th class="analysis-header" style="text-align:center; width:110px">Market Cap (in B)</th>
							<th class="analysis-header" style="text-align:center; width:110px">Last Q Rev (in K)</th>
							<th class="analysis-header hidden">Net Stock Issues Score</th>
							<th class="analysis-header hidden">RelAccruals Score</th>
							<th class="analysis-header hidden">NetOpAssetsScaled Score</th>
							<th class="analysis-header hidden">Assets Growth Score</th>
							<th class="analysis-header hidden">InvestToAssets Score</th>
							<th class="analysis-header hidden">52 Week Price Score</th>
							<th class="analysis-header hidden">Profit Premium Score</th>
							<th class="analysis-header hidden">ROA Quarterly Score</th>
							<th class="analysis-header hidden">DistTotal2 Score</th>
							<th colspan=2 class="analysis-header" style="text-align:center">Update</th>
						</tr>
					</thead>
					<tbody>
				    <!--# 0. symbol, 1. exchange, 2. company, 3. in pf, 4. rec action, 5. action, 6. total score, 7. total score pct, 8. Dist >7/8, 9. Mkt Cap, 10. NSI, 11. RA, 12. NOAS, 13. AG, 14. AITA, 15. L52WP, 16. PP, 17. RQ, 18. DT2, 19. Prev Earn, 20. Next Earn, 21. LQ Rev, 22. Portfolio Items, 23. Recommended Total, 24. Current Portfolio, 25. Net Change -->
				
						<% @si_sm.each do |si| %>
							<tr>
								<td style="padding-left:10px"><%= si[0] %></td> <!-- Symbol -->
								<td><%= si[1] %></td> <!-- Exchange -->
								<td>
									<%= si[2] %>
									<div class="relative-wrap">
			              <div class="overflow-wrap">
			                <div class="popover">
			                	<% if !si[22].empty? %>
				                	<% si[22].each_with_index do |pi,i| %>
				                		<b>(<%= i+1 %>)</b> <b>Date: </b> <%= pi.date_acq.strftime("%Y-%m-%d") %> <br />
				                		<b>Position: </b> <%= pi.position.capitalize %> <br />
				                		<b>Type: </b> <%= pi.pos_type.capitalize %> <br />
				                		<b>Quantity: </b> <%= pi.quantity %><br />
				                		<% if pi.pos_type == "option" %>
				                			<b>Option Type: </b> <%= pi.op_type.capitalize %> <br />
				                			<b>Strike Price: </b> <%= pi.op_strike %> <br />
				                			<b>Expiration: </b> <%= pi.op_expiration %> <br />
			                			<% end %>
			                			<% unless pi == si[22][-1] %><hr><% end %>
			              			<% end %>
		              			<% else %>
		              				<i>No current investments in this entity.</i>
		            				<% end %>
			                </div>
			              </div>
			            </div> <!-- Portfolio ownership -->
		            </td> <!-- Company Name -->
								<td style="text-align:center"><%= !si[22].empty? ? number_to_percentage(si[22][0].tot_gain_p, :precision => 2) : "N/A" %></td> <!-- Total Gain (%) -->
								<td style="text-align:center"><%= !si[22].empty? ? number_with_precision(si[22][0].tot_gain, :precision => 2, :delimiter => "," ) : "N/A" %></td> <!-- Total Gain ($) -->
								<td style="text-align:center"><%= !si[22].empty? ? ((Date.today - 1.year) > si[22][0].date_acq ? "LT" : "ST") : "N/A" %></td> <!-- Long/Short Term -->
								<td><%= si[19] != "N/A" ? si[19].to_f + (Date.today - @di_period.to_date).to_i : "N/A" %> - <%= si[20] != "N/A" ? si[20].to_f - (Date.today - @di_period.to_date).to_i : "N/A" %></td> <!-- Earnings -->
								<td style="text-align:center"><%= si[3] %></td>	<!-- In Portfolio -->
								<td style="padding-left:10px"><%= si[4] %></td> <!-- Rec Action -->
								<td id="id-<%= si[0] %><%= si[1] %>-action", class: 'action-field'><%= si[5] %></td> <!-- Action -->
								<td style="text-align:right; padding-right:2px"><%= number_with_precision(si[23], :precision => 0, :delimiter => ',') %></td> <!-- Recommended Amount -->
								<td style="text-align:right; padding-right:2px"><%= number_with_precision(si[24], :precision => 0, :delimiter => ',') %></td> <!-- Current Amount -->
								<td style="text-align:right; padding-right:2px"><%= number_with_precision(si[25], :precision => 0, :delimiter => ',') %></td> <!-- Change Amount -->
								<td class="hidden"><%= si[6] %></td> <!-- Totals -->
								<td style="text-align:center"><%= number_to_percentage(si[7]*100, :precision => 1) %></td> <!-- Total Score Percentile -->
								<td style='text-align:center'><%= si[8] %></td> <!-- Dist > 7 or > 8 -->
								<td style="text-align:right; padding-right:2px"><%= number_with_precision((si[9] / 1000000000.0 > 0.4 ? si[9] / 1000000000.0 : "< 0.4" ), :precision => 1, :delimiter => ',') %></td> <!-- Market Cap -->
								<td style="text-align:right; padding-right:2px"><%= !si[21].nil? ? number_with_precision(si[21]/1000, :precision => 0, :delimiter => ',' ) : "N/A" %></td> <!-- LQ Rev -->
								<td class="hidden"><%= si[10] %></td> <!-- Net Stock Issues Score -->
								<td class="hidden"><%= si[11] %></td> <!-- RelAccruals Score -->
								<td class="hidden"><%= si[12] %></td> <!-- NetOpAssetsScaled Score -->
								<td class="hidden"><%= si[13] %></td> <!-- Assets Growth Score -->
								<td class="hidden"><%= si[14] %></td> <!-- InvestToAssets Score -->
								<td class="hidden"><%= si[15] %></td> <!-- 52 Week Price Score -->
								<td class="hidden"><%= si[16] %></td> <!-- Profit Premium Score -->
								<td class="hidden"><%= si[17] %></td> <!-- ROA Quarterly Score -->
								<td class="hidden"><%= si[18] %></td> <!-- DistTotal2 Score -->
								<!-- Split submits by commit type -->
								<td>
									<%= form_tag(update_action_path, :remote => true) do %>
										<%= hidden_field_tag 'symbol', :value => si[0] %>
										<%= hidden_field_tag 'exchange', :value => si[1] %>
										<%= hidden_field_tag 'rec_action', :value => si[4] %>
										<%= submit_tag 'Confirm', :class => 'update-btn' %>
									<% end %>
								</td>
								<td>
									<%= form_tag(update_action_path, :remote => true) do %>
										<%= hidden_field_tag 'symbol', :value => si[0] %>
										<%= hidden_field_tag 'exchange', :value => si[1] %>
										<%= hidden_field_tag 'rec_action', :value => si[4] %>
										<%= submit_tag 'Ignore', :class => 'update-btn' %>
									<% end %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
		  </div>
		  
		  <!-- Large cap tab -->
		  <div role="tabpanel" class="tab-pane" id="large-cap">
		  	<table class="tablesorter analysis-table" id="large-cap-table">
					<thead>
						<tr>
							<th class="analysis-header" style='width:65px; padding-left: 10px'>Sym</th>
							<th class="analysis-header" style="text-align:center; width:75px">Exchange</th>
							<th class="analysis-header" style="text-align:center">Company Name</th>
							<th class="analysis-header" style="text-align:center">% Gain</th>
							<th class="analysis-header" style="text-align:center">$ Gain</th>
							<th class="analysis-header" style="text-align:center">Term</th>
							<th class="analysis-header" style="text-align:center">Earnings</th>
							<th class="analysis-header" style="text-align:center">Current<br>Portfolio</th>
							<th class="analysis-header" style="width:150px; text-align:center">Recommended<br>Action</th>
							<th class="analysis-header" style="text-align:center">Action</th>
							<th class="analysis-header" style="text-align:center">Target Value</th>
							<th class="analysis-header" style="text-align:center">Current Value</th>
							<th class="analysis-header" style="text-align:center">Adjustment</th>
							<th class="analysis-header hidden">Totals</th>
							<th class="analysis-header" style="width:90px; text-align:center">Total<br>Score<br>Percentile</th>
							<th class="analysis-header" style="text-align:center">Dist > 7<br>or > 8</th>
							<th class="analysis-header" style="text-align:center; width:110px">Market Cap (in B)</th>
							<th class="analysis-header" style="text-align:center; width:110px">Last Q Rev (in K)</th>
							<th class="analysis-header hidden">Net Stock Issues Score</th>
							<th class="analysis-header hidden">RelAccruals Score</th>
							<th class="analysis-header hidden">NetOpAssetsScaled Score</th>
							<th class="analysis-header hidden">Assets Growth Score</th>
							<th class="analysis-header hidden">InvestToAssets Score</th>
							<th class="analysis-header hidden">52 Week Price Score</th>
							<th class="analysis-header hidden">Profit Premium Score</th>
							<th class="analysis-header hidden">ROA Quarterly Score</th>
							<th class="analysis-header hidden">DistTotal2 Score</th>
							<th colspan=2 class="analysis-header" style="text-align:center">Update</th>
							
						</tr>
					</thead>
					<tbody>
				    <!--# 0. symbol, 1. exchange, 2. company, 3. in pf, 4. rec action, 5. action, 6. total score, 7. total score pct, 8. Dist >7/8, 9. Mkt Cap, 10. NSI, 11. RA, 12. NOAS, 13. AG, 14. AITA, 15. L52WP, 16. PP, 17. RQ, 18. DT2, 19. Prev Earn, 20. Next Earn, 21. LQ Rev, 22. Portfolio Items, 23. Recommended Total, 24. Current Portfolio, 25. Net Change -->
				
						<% @si_lg.each do |si| %>
							<tr>
								<td style="padding-left:10px"><%= si[0] %></td> <!-- Symbol -->
								<td><%= si[1] %></td> <!-- Exchange -->
								<td>
									<%= si[2] %>
									<div class="relative-wrap">
			              <div class="overflow-wrap">
			                <div class="popover">
			                	<% if !si[22].empty? %>
				                	<% si[22].each_with_index do |pi,i| %>
				                		<b>(<%= i+1 %>)</b> <b>Date: </b> <%= pi.date_acq.strftime("%Y-%m-%d") %> <br />
				                		<b>Position: </b> <%= pi.position.capitalize %> <br />
				                		<b>Type: </b> <%= pi.pos_type.capitalize %> <br />
				                		<b>Quantity: </b> <%= pi.quantity %><br />
				                		<% if pi.pos_type == "option" %>
				                			<b>Option Type: </b> <%= pi.op_type.capitalize %> <br />
				                			<b>Strike Price: </b> <%= pi.op_strike %> <br />
				                			<b>Expiration: </b> <%= pi.op_expiration %> <br />
			                			<% end %>
			                			<% unless pi == si[22][-1] %><hr><% end %>
			              			<% end %>
		              			<% else %>
		              				<i>No current investments in this entity.</i>
		            				<% end %>
			                </div>
			              </div>
			            </div> <!-- Portfolio ownership -->
		            </td> <!-- Company Name -->
								<td style="text-align:center"><%= !si[22].empty? ? number_to_percentage(si[22][0].tot_gain_p, :precision => 2) : "N/A" %></td> <!-- Total Gain (%) -->
								<td style="text-align:center"><%= !si[22].empty? ? number_with_precision(si[22][0].tot_gain, :precision => 2, :delimiter => "," ) : "N/A" %></td> <!-- Total Gain ($) -->
								<td style="text-align:center"><%= !si[22].empty? ? ((Date.today - 1.year) > si[22][0].date_acq ? "LT" : "ST") : "N/A" %></td> <!-- Long/Short Term -->
								<td><%= si[19] != "N/A" ? si[19].to_f + (Date.today - @di_period.to_date).to_i : "N/A" %> - <%= si[20] != "N/A" ? si[20].to_f - (Date.today - @di_period.to_date).to_i : "N/A" %></td> <!-- Prev Earn -->
								<td style="text-align:center"><%= si[3] %></td>	<!-- In Portfolio -->
								<td style="padding-left:10px"><%= si[4] %></td> <!-- Rec Action -->
								<td id="id-<%= si[0] %><%= si[1] %>-action", class: 'action-field'><%= si[5] %></td> <!-- Action -->
								<td style="text-align:right; padding-right:2px"><%= number_with_precision(si[23], :precision => 0, :delimiter => ',') %></td> <!-- Recommended Amount -->
								<td style="text-align:right; padding-right:2px"><%= number_with_precision(si[24], :precision => 0, :delimiter => ',') %></td> <!-- Current Amount -->
								<td style="text-align:right; padding-right:2px"><%= number_with_precision(si[25], :precision => 0, :delimiter => ',') %></td> <!-- Change Amount -->
								<td class="hidden"><%= si[6] %></td> <!-- Totals -->
								<td style="text-align:center"><%= number_to_percentage(si[7]*100, :precision => 1) %></td> <!-- Total Score Percentile -->
								<td style='text-align:center'><%= si[8] %></td> <!-- Dist > 7 or > 8 -->
								<td style="text-align:right; padding-right:2px"><%= number_with_precision((si[9] / 1000000000.0 > 0.4 ? si[9] / 1000000000.0 : "< 0.4" ), :precision => 1, :delimiter => ',') %></td> <!-- Market Cap -->
								<td style="text-align:right; padding-right:2px"><%= !si[21].nil? ? number_with_precision(si[21]/1000, :precision => 0, :delimiter => ',' ) : "N/A" %></td> <!-- LQ Rev -->
								<td class="hidden"><%= si[10] %></td> <!-- Net Stock Issues Score -->
								<td class="hidden"><%= si[11] %></td> <!-- RelAccruals Score -->
								<td class="hidden"><%= si[12] %></td> <!-- NetOpAssetsScaled Score -->
								<td class="hidden"><%= si[13] %></td> <!-- Assets Growth Score -->
								<td class="hidden"><%= si[14] %></td> <!-- InvestToAssets Score -->
								<td class="hidden"><%= si[15] %></td> <!-- 52 Week Price Score -->
								<td class="hidden"><%= si[16] %></td> <!-- Profit Premium Score -->
								<td class="hidden"><%= si[17] %></td> <!-- ROA Quarterly Score -->
								<td class="hidden"><%= si[18] %></td> <!-- DistTotal2 Score -->
								<!-- Split submits by commit type -->
								<td>
									<%= form_tag(update_action_path, :remote => true) do %>
										<%= hidden_field_tag 'symbol', :value => si[0] %>
										<%= hidden_field_tag 'exchange', :value => si[1] %>
										<%= hidden_field_tag 'rec_action', :value => si[4] %>
										<%= submit_tag 'Confirm', :class => 'update-btn' %>
									<% end %>
								</td>
								<td>
									<%= form_tag(update_action_path, :remote => true) do %>
										<%= hidden_field_tag 'symbol', :value => si[0] %>
										<%= hidden_field_tag 'exchange', :value => si[1] %>
										<%= hidden_field_tag 'rec_action', :value => si[4] %>
										<%= submit_tag 'Ignore', :class => 'update-btn' %>
									<% end %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
		    
		  </div>
		  
		  <!-- Non-screen tab -->
		  <div role="tabpanel" class="tab-pane" id="non-screen">
		  	<table class="tablesorter analysis-table" id="non-screen-table">
					<thead>
						<tr>
							<th class="analysis-header" style='width:65px; padding-left: 10px'>Sym</th>
							<th class="analysis-header" style="text-align:center; width:75px">Exchange</th>
							<th class="analysis-header" style="text-align:center">Company Name</th>
							<th class="analysis-header" style="text-align:center">% Gain</th>
							<th class="analysis-header" style="text-align:center">$ Gain</th>
							<th class="analysis-header" style="text-align:center">Term</th>
							<th class="analysis-header" style="text-align:center">Earnings</th>
							<th class="analysis-header" style="text-align:center">Current<br>Portfolio</th>
							<th class="analysis-header" style="width:150px; text-align:center">Recommended<br>Action</th>
							<th class="analysis-header" style="text-align:center">Action</th>
							<th class="analysis-header hidden">Totals</th>
							<th class="analysis-header" style="width:90px; text-align:center">Total<br>Score<br>Percentile</th>
							<th class="analysis-header" style="text-align:center">Dist > 7<br>or > 8</th>
							<th class="analysis-header" style="text-align:center; width:110px">Market Cap (in B)</th>
							<th class="analysis-header" style="text-align:center; width:110px">Last Q Rev (in K)</th>
							<th class="analysis-header hidden">Net Stock Issues Score</th>
							<th class="analysis-header hidden">RelAccruals Score</th>
							<th class="analysis-header hidden">NetOpAssetsScaled Score</th>
							<th class="analysis-header hidden">Assets Growth Score</th>
							<th class="analysis-header hidden">InvestToAssets Score</th>
							<th class="analysis-header hidden">52 Week Price Score</th>
							<th class="analysis-header hidden">Profit Premium Score</th>
							<th class="analysis-header hidden">ROA Quarterly Score</th>
							<th class="analysis-header hidden">DistTotal2 Score</th>
							<th colspan=2 class="analysis-header" style="text-align:center">Update</th>
						</tr>
					</thead>
					<tbody>
				    <!--# 0. symbol, 1. exchange, 2. company, 3. in pf, 4. rec action, 5. action, 6. total score, 7. total score pct, 8. Dist >7/8, 9. Mkt Cap, 10. NSI, 11. RA, 12. NOAS, 13. AG, 14. AITA, 15. L52WP, 16. PP, 17. RQ, 18. DT2, 19. Prev Earn, 20. Next Earn, 21. LQ Revenue, 22. Portfolio Items -->
				
						<% @po.each do |pi| %>
							<tr>
								<td style="padding-left:10px"><%= pi[0] %></td> <!-- Symbol -->
								<td><%= pi[1] %></td> <!-- Exchange -->
								<td>
									<%= pi[2] %>
									<div class="relative-wrap">
			              <div class="overflow-wrap">
			                <div class="popover">
			                	<% if !pi[22].empty? %>
				                	<% pi[22].each_with_index do |ppi,i| %>
				                		<b>(<%= i+1 %>)</b> <b>Date: </b> <%= ppi.date_acq.strftime("%Y-%m-%d") %> <br />
				                		<b>Position: </b> <%= ppi.position.capitalize %> <br />
				                		<b>Type: </b> <%= ppi.pos_type.capitalize %> <br />
				                		<b>Quantity: </b> <%= ppi.quantity %><br />
				                		<% if ppi.pos_type == "option" %>
				                			<b>Option Type: </b> <%= ppi.op_type.capitalize %> <br />
				                			<b>Strike Price: </b> <%= ppi.op_strike %> <br />
				                			<b>Expiration: </b> <%= ppi.op_expiration %> <br />
			                			<% end %>
			                			<% unless ppi == pi[22][-1] %><hr><% end %>
			              			<% end %>
		              			<% else %>
		              				<i>No current investments in this entity.</i>
		            				<% end %>
			                </div>
			              </div>
			            </div> <!-- Portfolio ownership -->
		            </td> <!-- Company Name -->
								<td style="text-align:center"><%= !pi[22].empty? ? number_to_percentage(pi[22][0].tot_gain_p, :precision => 2) : "N/A" %></td> <!-- Total Gain (%) -->
								<td style="text-align:center"><%= !pi[22].empty? ? number_with_precision(pi[22][0].tot_gain, :precision => 2, :delimiter => ',' ) : "N/A" %></td> <!-- Total Gain ($) -->
								<td style="text-align:center"><%= !pi[22].empty? ? ((Date.today - 1.year) > pi[22][0].date_acq ? "LT" : "ST") : "N/A" %></td> <!-- Long/Short Term -->
								<td><%= pi[19] != "N/A" ? pi[19].to_f + (Date.today - @di_period.to_date).to_i : "N/A" %> - <%= pi[20] != "N/A" ? pi[20].to_f - (Date.today - @di_period.to_date).to_i : "N/A" %></td> <!-- Prev Earn -->
								<td style="text-align:center"><%= pi[3] %></td>	<!-- In Portfolio -->
								<td style="padding-left:10px"><%= pi[4] %></td> <!-- Rec Action -->
								<td id="id-<%= pi[0] %><%= pi[1] %>-action", class: 'action-field'><%= pi[5] %></td> <!-- Action -->
								<td class="hidden"><%= pi[6] %></td> <!-- Totals -->
								<td style="text-align:center"><%= number_to_percentage(pi[7]*100, :precision => 1) %></td> <!-- Total Score Percentile -->
								<td style='text-align:center'><%= pi[8] %></td> <!-- Dist > 7 or > 8 -->
								<td style="text-align:right; padding-right:2px"><%= !pi[9].nil? ? number_with_precision((pi[9] / 1000000000.0 > 0.4 ? pi[9] / 1000000000.0 : "< 0.4" ), :precision => 1, :delimiter => ',') : "N/A" %></td> <!-- Market Cap -->
								<td style="text-align:right; padding-right:2px"><%= !pi[21].nil? ? number_with_precision(pi[21]/1000, :precision => 0, :delimiter => ',' ) : "N/A" %></td> <!-- LQ Rev -->
								<td class="hidden"><%= pi[10] %></td> <!-- Net Stock Issues Score -->
								<td class="hidden"><%= pi[11] %></td> <!-- RelAccruals Score -->
								<td class="hidden"><%= pi[12] %></td> <!-- NetOpAssetsScaled Score -->
								<td class="hidden"><%= pi[13] %></td> <!-- Assets Growth Score -->
								<td class="hidden"><%= pi[14] %></td> <!-- InvestToAssets Score -->
								<td class="hidden"><%= pi[15] %></td> <!-- 52 Week Price Score -->
								<td class="hidden"><%= pi[16] %></td> <!-- Profit Premium Score -->
								<td class="hidden"><%= pi[17] %></td> <!-- ROA Quarterly Score -->
								<td class="hidden"><%= pi[18] %></td> <!-- DistTotal2 Score -->
								<!-- Split submits by commit type -->
								<td>
									<%= form_tag(update_action_path, :remote => true) do %>
										<%= hidden_field_tag 'symbol', :value => pi[0] %>
										<%= hidden_field_tag 'exchange', :value => pi[1] %>
										<%= hidden_field_tag 'rec_action', :value => pi[4] %>
										<%= submit_tag 'Confirm', :class => 'update-btn' %>
									<% end %>
								</td>
								<td>
									<%= form_tag(update_action_path, :remote => true) do %>
										<%= hidden_field_tag 'symbol', :value => pi[0] %>
										<%= hidden_field_tag 'exchange', :value => pi[1] %>
										<%= hidden_field_tag 'rec_action', :value => pi[4] %>
										<%= submit_tag 'Ignore', :class => 'update-btn' %>
									<% end %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
		    
		  </div>
		  
		  <!-- Summary tab -->
		  <div role="tabpanel" class="tab-pane" id="summary" style="margin-top:20px">
		  	<ul style="list-style: none">
		  		<li><u>New Calcs:</u></li>
		  		
		  		<!--CAPACITY-->
		  		<li><b>Longs</b>: <%= number_with_precision(@longs_val, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Gross Cash</b>: <%= number_with_precision(@cash, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>- Shorts</b>: <%= number_with_precision(@shorts_val, :precision => 0, :delimiter => ',') %></li>
		  		<li><u><b>- Reserve</b>: <%= number_with_precision(@reserve_val, :precision => 0, :delimiter => ',') %></u></li>
		  		<li><b>Non-Margin Investable</b>: <%= number_with_precision(@non_margin_investable, :precision => 0, :delimiter => ',') %></li>
		  		<li><b><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></b></li>
		  		<li><b>Total Investable</b>: <%= number_with_precision(@total_investable, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>- Options</b>: <%= number_with_precision(@option_val, :precision => 0, :delimiter => ',') %></li>
		  		<li><u><b>- NSH</b>: <%= number_with_precision(@fallen_out_val, :precision => 0, :delimiter => ',') %></u></li>
					<li><b>Purchasing Capacity</b>: <%= number_with_precision(@purchasing_capacity, :precision => 0, :delimiter => ',') %></li>
		  		<li><b><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/ 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></b></li>
		  		<li><b>Capacity for Longs and Shorts (each)</b>: <%= number_with_precision(@capacity_per_type, :precision => 0, :delimiter => ',') %></li>
		  		<li><br></li>
					
					<!--INVESTMENTS-->
		  		<li><b>Target Longs</b>: <%= number_with_precision(@rec_long, :precision => 0, :delimiter => ',') %></li>
		  		<li><u><b>+ Target Shorts (abs)</b>: <%= number_with_precision(@rec_short.abs, :precision => 0, :delimiter => ',') %></u></li>
		  		<li><b>Total Investments Target</b>: <%= number_with_precision(@rec_total_inv, :precision => 0, :delimiter => ',') %></li>
		  		<li><br></li>
		  		
		  		<!--ALL MARKET CAP SHARES-->
		  		<li><u><b>All Shares (by Market Cap)</b></u></li>
		  		<li><b>Long Buys</b>: <%= number_to_percentage(@long_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Short Sells</b>: <%= number_to_percentage(@short_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Long Holds</b>: <%= number_to_percentage(@long_hold_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Short Holds</b>: <%= number_to_percentage(@short_hold_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Shares for Closes</b>: <%= number_to_percentage(0 * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><u><b>+ Shares for No Earnings</b>: <%= number_to_percentage(0 * 100, :precision => 0, :delimiter => ',') %></u></li>
		  		<li><b>Total Shares</b>: <%= number_to_percentage(@total_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><br></li>
		  		
		  		<!--LG CAP MARKET CAP SHARES-->
		  		<li><u><b>Large Cap Shares (by Market Cap)</b></u></li>
		  		<li><b>Long Buys</b>: <%= number_to_percentage(@lg_long_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Short Sells</b>: <%= number_to_percentage(@lg_short_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Long Holds</b>: <%= number_to_percentage(@lg_long_hold_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Short Holds</b>: <%= number_to_percentage(@lg_short_hold_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Shares for Closes</b>: <%= number_to_percentage(0 * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><u><b>+ Shares for No Earnings</b>: <%= number_to_percentage(0 * 100, :precision => 0, :delimiter => ',') %></u></li>
		  		<li><b>Total Shares</b>: <%= number_to_percentage(@lg_total_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><br></li>
		  		
		  		<!--SM CAP MARKET CAP SHARES-->
		  		<li><u><b>Small Cap Shares (by Market Cap)</b></u></li>
		  		<li><b>Long Buys</b>: <%= number_to_percentage(@sm_long_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Short Sells</b>: <%= number_to_percentage(@sm_short_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Long Holds</b>: <%= number_to_percentage(@sm_long_hold_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Short Holds</b>: <%= number_to_percentage(@sm_short_hold_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Shares for Closes</b>: <%= number_to_percentage(0 * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><u><b>+ Shares for No Earnings</b>: <%= number_to_percentage(0 * 100, :precision => 0, :delimiter => ',') %></u></li>
		  		<li><b>Total Shares</b>: <%= number_to_percentage(@sm_total_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><br></li>
		  		
		  		<!--ALL TARGET SHARES-->
		  		<li><u><b>All Shares (by Target [ABSV Dollar Totals])</b></u></li>
		  		<li><b>Long Buys</b>: <%= number_to_percentage(@long_target_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Short Sells</b>: <%= number_to_percentage(@short_target_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Long Holds</b>: <%= number_to_percentage(@long_hold_target_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Short Holds</b>: <%= number_to_percentage(@short_hold_target_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Shares for Closes</b>: <%= number_to_percentage(0 * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><u><b>+ Shares for No Earnings</b>: <%= number_to_percentage(0 * 100, :precision => 0, :delimiter => ',') %></u></li>
		  		<li><b>Total Shares</b>: <%= number_to_percentage(@total_target_share * 100, :precision => 0, :delimiter => ',') %></li>
					<li><br></li>
		  		
		  		<!--LG CAP TARGET SHARES-->
		  		<li><u><b>Large Cap Shares (by Target [ABSV Dollar Totals])</b></u></li>
		  		<li><b>Long Buys</b>: <%= number_to_percentage(@lg_long_target_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Short Sells</b>: <%= number_to_percentage(@lg_short_target_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Long Holds</b>: <%= number_to_percentage(@lg_long_hold_target_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Short Holds</b>: <%= number_to_percentage(@lg_short_hold_target_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Shares for Closes</b>: <%= number_to_percentage(0 * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><u><b>+ Shares for No Earnings</b>: <%= number_to_percentage(0 * 100, :precision => 0, :delimiter => ',') %></u></li>
		  		<li><b>Total Shares</b>: <%= number_to_percentage(@lg_total_target_share * 100, :precision => 0, :delimiter => ',') %></li>		  		
		  		<li><br></li>
		  		
		  		<!--SM CAP TARGET SHARES-->
		  		<li><u><b>Small Cap Shares (by Target [ABSV Dollar Totals])</b></u></li>
		  		<li><b>Long Buys</b>: <%= number_to_percentage(@sm_long_target_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Short Sells</b>: <%= number_to_percentage(@sm_short_target_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Long Holds</b>: <%= number_to_percentage(@sm_long_hold_target_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Short Holds</b>: <%= number_to_percentage(@sm_short_hold_target_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Shares for Closes</b>: <%= number_to_percentage(0 * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><u><b>+ Shares for No Earnings</b>: <%= number_to_percentage(0 * 100, :precision => 0, :delimiter => ',') %></u></li>
		  		<li><b>Total Shares</b>: <%= number_to_percentage(@sm_total_target_share * 100, :precision => 0, :delimiter => ',') %></li>
		  		<li><br></li>
		  		
		  		<!--TOT ADJUSTMENTS-->
		  		<li><u><b>Total Target by Adjustments</b></u></li>
		  		<li><b>Current Long Holdings</b>: <%= number_with_precision(@tot_current_holdings_long, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Buys</b>: <%= number_with_precision(@tot_buys, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>- Closes</b>: <%= number_with_precision(@tot_closes, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Upward Adjustments</b>: <%= number_with_precision(@tot_adj_up, :precision => 0, :delimiter => ',') %></li>
		  		<li><u><b>- Downward Adjustments</b>: <%= number_with_precision(-@tot_adj_dn, :precision => 0, :delimiter => ',') %></u></li>
		  		<li><b>Total Target</b>: <%= number_with_precision(@tot_total_after_adj, :precision => 0, :delimiter => ',') %></li>
		  		<li><br></li>

		  		<!--LG ADJUSTMENTS-->
		  		<li><u><b>Large Cap Target by Adjustments</b></u></li>
		  		<li><b>Current Long Holdings</b>: <%= number_with_precision(@lg_current_holdings_long, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Buys</b>: <%= number_with_precision(@lg_buys, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>- Closes</b>: <%= number_with_precision(@lg_closes, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Upward Adjustments</b>: <%= number_with_precision(@lg_adj_up, :precision => 0, :delimiter => ',') %></li>
		  		<li><u><b>- Downward Adjustments</b>: <%= number_with_precision(-@lg_adj_dn, :precision => 0, :delimiter => ',') %></u></li>
		  		<li><b>Large Cap Target</b>: <%= number_with_precision(@lg_total_after_adj, :precision => 0, :delimiter => ',') %></li>
		  		<li><br></li>
		  		
		  		<!--SM ADJUSTMENTS-->
		  		<li><u><b>Small Cap Target by Adjustments</b></u></li>
		  		<li><b>Current Long Holdings</b>: <%= number_with_precision(@sm_current_holdings_long, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Buys</b>: <%= number_with_precision(@sm_buys, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>- Closes</b>: <%= number_with_precision(@sm_closes, :precision => 0, :delimiter => ',') %></li>
		  		<li><b>+ Upward Adjustments</b>: <%= number_with_precision(@sm_adj_up, :precision => 0, :delimiter => ',') %></li>
		  		<li><u><b>- Downward Adjustments</b>: <%= number_with_precision(-@sm_adj_dn, :precision => 0, :delimiter => ',') %></u></li>
		  		<li><b>Small Cap Target</b>: <%= number_with_precision(@sm_total_after_adj, :precision => 0, :delimiter => ',') %></li>
		  		<li><br></li>
		  		

					<!--<li><br></li>-->
		  	<!--	<li><b>Long stocks</b>: <%= number_with_precision(@longs_val, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><b>+ Options</b>: <%= number_with_precision(@option_val, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><b>+ Shorts</b>: <%= number_with_precision(@shorts_val, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><u><b>+ Cash</b>: <%= number_with_precision(@cash, :precision => 0, :delimiter => ',') %></u></li>-->
		  	<!--	<li><b>Total Portfolio Value</b>: <%= number_with_precision(@total_portfolio_value, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><b>- Options</b>: <%= number_with_precision(@option_val, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><u><b>- Cash</b>: <%= number_with_precision(@cash, :precision => 0, :delimiter => ',') %></u></li>-->
		  	<!--	<li><b>Revised Portfolio Value</b>: <%= number_with_precision(@revised_portfolio_value, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><br></li>-->
		  	<!--	<li><b>Revised Portfolio Value</b>: <%= number_with_precision(@revised_portfolio_value, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><b>- Non-Screen Holds</b>: <%= number_with_precision(@fallen_out_val, :precision => 0, :delimiter => ',') %></li>-->
		  		<!--<li><b>+ Closes</b>: <%= number_with_precision(@close_val, :precision => 0, :delimiter => ',') %></li> ## don't include closes in this calc for now (double-counted?) -->
		  	<!--	<li><u><b>+ Cash</b>: <%= number_with_precision(@cash, :precision => 0, :delimiter => ',') %></u></li>-->
		  	<!--	<li><b>Net Investable</b>: <%= number_with_precision(@net_investable, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><br></li>-->
		  	<!--	<li><b>Total Market Cap Buys</b>: <%= number_with_precision(@long_mkt_cap, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><b>+ Total Market Cap Holds</b>: <%= number_with_precision(@hold_mkt_cap, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><u><b>+ Total Market Cap Shorts</b>: <%= number_with_precision(@short_mkt_cap, :precision => 0, :delimiter => ',') %></u></li>-->
		  	<!--	<li><b>Screen Total Market Caps</b>: <%= number_with_precision(@tot_mkt_cap, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><br></li>-->
		  	<!--	<li><b>Total Target for Longs</b>: <%= number_with_precision(@long_targets, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><b>+ Total Target for Shorts</b>: <%= number_with_precision(@short_targets, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><b>+ Total Target for Closes</b>: <%= number_with_precision(0, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><u><b>+ Total Target for No Earnings</b>: <%= number_with_precision(0, :precision => 0, :delimiter => ',') %></u></li>-->
		  	<!--	<li><b>Total Targets</b>: <%= number_with_precision(@tot_targets, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><u><b>- Net Investable</b>: <%= number_with_precision(@net_investable, :precision => 0, :delimiter => ',') %></u></li>-->
		  	<!--	<li><b>Overage</b>: <%= number_with_precision(@remainder, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><br></li>-->
		  	<!--	<li><b>Total Targets</b>: <%= number_with_precision(@tot_targets, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><b>- Total Current Values</b>: <%= number_with_precision(@tot_curr_val, :precision => 0, :delimiter => ',') %></li>-->
		  	<!--	<li><u><b>- Total Adjustments</b>: <%= number_with_precision(@tot_adj_val, :precision => 0, :delimiter => ',') %></u></li>-->
		  	<!--	<li><b>Remainder</b>: <%= number_with_precision(@remainder_2, :precision => 0, :delimiter => ',') %></li>-->
		  	</ul>
		  </div>
		</div>
	</div>
	<br>
</div>


<!-- Table javascripts -->
<script>
	var params = { 
		
		theme: 'default',

    // fix the column widths
    widthFixed: false,

    // Show an indeterminate timer icon in the header when the table
    // is sorted or filtered
    showProcessing: false,

    // header layout template (HTML ok); {content} = innerHTML,
    // {icon} = <i/> (class from cssIcon)
    headerTemplate: '{content}{icon}',

    // return the modified template string
    onRenderTemplate: null, // function(index, tmpl){ return tmpl; },

    // called after each header cell is rendered, use index to target
    // the column customize header HTML
    onRenderHeader: function(index) {
      // the span wrapper is added by default
      $(this)
        .find('div.tablesorter-header-inner')
        .addClass('roundedCorners');
    },

    // *** FUNCTIONALITY ***
    // prevent text selection in header
    cancelSelection: true,

    // add tabindex to header for keyboard accessibility
    tabIndex: true,

    // other options: "ddmmyyyy" & "yyyymmdd"
    dateFormat: "mmddyyyy",

    // The key used to select more than one column for multi-column
    // sorting.
    sortMultiSortKey: "shiftKey",

    // key used to remove sorting on a column
    sortResetKey: 'ctrlKey',

    // false for German "1.234.567,89" or French "1 234 567,89"
    usNumberFormat: true,

    // If true, parsing of all table cell data will be delayed
    // until the user initializes a sort
    delayInit: false,

    // if true, server-side sorting should be performed because
    // client-side sorting will be disabled, but the ui and events
    // will still be used.
    serverSideSorting: false,

    // default setting to trigger a resort after an "update",
    // "addRows", "updateCell", etc has completed
    resort: true,

    // *** SORT OPTIONS ***
    // These are detected by default,
    // but you can change or disable them
    // these can also be set using data-attributes or class names
    headers: {
      // set "sorter : false" (no quotes) to disable the column
      0: {
        sorter: "text"
      },
      1: {
        sorter: "text"
      }
    },

    // ignore case while sorting
    ignoreCase: true,

    // forces the user to have this/these column(s) sorted first
    sortForce: null,
    // initial sort order of the columns,
    // example sortList: [[0,0],[1,0]],
    // [[columnIndex, sortDirection], ... ]
    sortList: [
      [11, 1]
    ],
    // default sort that is added to the end of the users sort
    // selection.
    sortAppend: null,

    // when sorting two rows with exactly the same content,
    // the original sort order is maintained
    sortStable: false,

    // starting sort direction "asc" or "desc"
    sortInitialOrder: "asc",

    // Replace equivalent character (accented characters) to allow
    // for alphanumeric sorting
    sortLocaleCompare: false,

    // third click on the header will reset column to default - unsorted
    sortReset: false,

    // restart sort to "sortInitialOrder" when clicking on previously
    // unsorted columns
    sortRestart: false,

    // sort empty cell to bottom, top, none, zero, emptyMax, emptyMin
    emptyTo: "bottom",

    // sort strings in numerical column as max, min, top, bottom, zero
    stringTo: "max",

    // colspan cells in the tbody will have duplicated content in the
    // cache for each spanned column
    duplicateSpan: true,

    // extract text from the table
    textExtraction: {
      0: function(node, table) {
        // this is how it is done by default
        return $(node).attr(table.config.textAttribute) ||
          node.textContent ||
          node.innerText ||
          $(node).text() ||
          '';
      },
      1: function(node) {
        return $(node).text();
      }
    },

    // data-attribute that contains alternate cell text
    // (used in default textExtraction function)
    textAttribute: 'data-text',

    // use custom text sorter
    // function(a,b){ return a.sort(b); } // basic sort
    textSorter: null,

    // choose overall numeric sorter
    // function(a, b, direction, maxColumnValue)
    numberSorter: null,

    // *** WIDGETS ***
    // apply widgets on tablesorter initialization
    initWidgets: true,

    // table class name template to match to include a widget
    widgetClass: 'widget-{name}',

    // include zebra and any other widgets, options:
    // 'columns', 'filter', 'stickyHeaders' & 'resizable'
    // 'uitheme' is another widget, but requires loading
    // a different skin and a jQuery UI theme.
    widgets: ['zebra', 'columns'],

    widgetOptions: {

      // *** COLUMNS WIDGET ***
      // change the default column class names primary is the 1st column
      // sorted, secondary is the 2nd, etc
      columns: [
        "primary",
        "secondary",
        "tertiary"
      ],
      
      // *** ZEBRA WIDGET ***
      // class names to add to alternating rows
      // [ "even", "odd" ]
      zebra: [
        "even",
        "odd"
      ]

    },

    // *** CALLBACKS ***
    // function called after tablesorter has completed initialization
    initialized: null, // function (table) {}

    // *** extra css class names
    tableClass: '',
    cssAsc: '',
    cssDesc: '',
    cssNone: '',
    cssHeader: '',
    cssHeaderRow: '',
    // processing icon applied to header during sort/filter
    cssProcessing: '',

    // class name indiciating that a row is to be attached to its
    // parent
    cssChildRow: 'tablesorter-childRow',
    // don't sort tbody with this class name
    // (only one class name allowed here!)
    cssInfoBlock: 'tablesorter-infoOnly',
    // class name added to element inside header; clicking on it
    // won't cause a sort
    cssNoSort: 'tablesorter-noSort',
    // header row to ignore; cells within this row will not be added
    // to table.config.$headers
    cssIgnoreRow: 'tablesorter-ignoreRow',

    // if this class does not exist, the {icon} will not be added from
    // the headerTemplate
    cssIcon: 'tablesorter-icon',
    // class name added to the icon when there is no column sort
    cssIconNone: '',
    // class name added to the icon when the column has an ascending sort
    cssIconAsc: '',
    // class name added to the icon when the column has a descending sort
    cssIconDesc: '',

    // *** header events ***
    pointerClick: 'click',
    pointerDown: 'mousedown',
    pointerUp: 'mouseup',

    // *** SELECTORS ***
    // jQuery selectors used to find the header cells.
    selectorHeaders: '> thead th, > thead td',

    // jQuery selector of content within selectorHeaders
    // that is clickable to trigger a sort.
    selectorSort: "th, td",

    // rows with this class name will be removed automatically
    // before updating the table cache - used by "update",
    // "addRows" and "appendCache"
    selectorRemove: ".remove-me",

    // *** DEBUGING ***
    // send messages to console
    debug: false
 	}
 	
	function setRows(){
		$('tr:odd').addClass('odd');
		$('tr:even').addClass('even');
	}
	
	function setTable(el){
		el.tablesorter(params);
		setRows();
	}
	
	function setTableNS(el){
		var paramsNS = params;
		paramsNS['sortlist'] = [[9, 1]]
		el.tablesorter(params);
		setRows();
	}
	
	$(document).ready(setTable($('#small-cap-table')));
	$(document).ready(setTable($('#large-cap-table')));
	$(document).ready(setTableNS($('#non-screen-table')));
</script>


<script>
	$(document).ready(function(){
		$('#small-cap-table').stickyTableHeaders({ fixedOffset: $('.navbar') });	
		$('#large-cap-table').stickyTableHeaders({ fixedOffset: $('.navbar') });	
		$('#non-screen-table').stickyTableHeaders({ fixedOffset: $('.navbar') });	
	});
</script>